<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frontend.London - Piotr Kołodziejczyk</title>
    <link rel="stylesheet" href="dist/css/frontend.london.css" type="text/css" />
    <link rel="stylesheet" href="dist/css/frontend.london-theme.css" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container-fluid container-page">
    <div class="col-sm-12 top-nav">
        <div class="container">
            <div class="row page-top scrollspy" id="top-nav">
                <span class="top-logo">Frontend.London</span>
                <div class="col-sm-6">
                    <ul class="nav nav-justified nav-top">
                        <li class="active"><a class="page-scroll" href="#welcome"><span>Welcome</span></a></li>
                        <li><a class="page-scroll" href="#about"><span>About me</span></a></li>
                        <li><a class="page-scroll" href="#offer"><span>Offer</span></a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="nav nav-justified nav-top">
                        <li><a href="#portfolio"><span>Portfolio</span></a></li>
                        <li><a href="#blog"><span>Blog</span></a></li>
                        <li><a href="#contact"><span>Contact</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="top-nav-mobile scrollspy">
        <!--<svg width="100" height="100">-->
            <!--<g id="cross_svg">-->
                <!--<rect id="Rectangle-1"  x="0" y="0" width="48" height="2" fill="transparent"></rect>-->
                <!--<rect id="Rectangle-2"  x="0" y="14" width="48" height="2" fill="transparent"></rect>-->
                <!--<rect id="Rectangle-4"  x="0" y="28" width="48" height="2" fill="transparent"></rect>-->
            <!--</g>-->
        <!--</svg>-->

        <a href="javascript:void(0)" class="icon">
            <div class="hamburger">
                <div class="menui top-menu"></div>
                <div class="menui mid-menu"></div>
                <div class="menui bottom-menu"></div>
            </div>
        </a>


        <ul class="nav mobilenav">
            <li><a href="#welcome"><span>Welcome</span></a></li>
            <li><a href="#about"><span>About me</span></a></li>
            <li><a href="#offer"><span>Offer</span></a></li>
            <li><a href="#portfolio"><span>Portfolio</span></a></li>
            <li><a href="#blog"><span>Blog</span></a></li>
            <li><a href="#contact"><span>Contact</span></a></li>
        </ul>
    </div>


    <div class="row page-1">
        <div id="welcome" class="position"></div>
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <header class="header">
                            <h1>Frontend <span>.</span> London</h1>
                            <h2>Piotr Kołodziejczyk</h2>
                            <h3>Front End Developer based in London</h3>
                            <a href="#about" class="scroll-down">scroll down</a>
                        </header>
                    </div>
                    <div class="page-left col-sm-6 text-right">
                        <h1>Welcome</h1>
                        <p>
                            on my website. My name is Piotr Kołodziejczyk and I'm a Front End Developer living in London.
                            Programming is my passion since childhood - the first programs I wrote at the age of 10
                            on my first computer Commodore 64.
                        </p>
                        <a href="#about" class="scroll-down">scroll down</a>
                    </div>
                    <div class="page-middle">
                        <img src="images/logo-dark.png" alt="PK" class="logo" />
                    </div>
                    <div class="page-right col-sm-6">
                        <ul>
                            <li><img src="images/logos/html5_css3_javascript.png" alt="HTML5 CSS3 Javascript" /></li>
                            <li><img src="images/logos/bootstrap.png" alt="Bootstrap" /></li>


                            <li><img src="images/logos/node.png" alt="Node.js" /></li>
                            <li><img src="images/logos/php.png" alt="php" /></li>

                            <li><img src="images/logos/zend-framework.png" alt="zend framework" /></li>
                            <!--<li><img src="images/logos/code-igniter.png" alt="code igniter" /></li>-->
                            <!--<li><img src="images/logos/propel.png" alt="propel" /></li>-->
                        </ul>

                        <ul>
                            <li><img src="images/logos/backbone_marionette.png" alt="Backbone Marionette" /></li>
                            <li><img src="images/logos/jquery.png" alt="jQuery" /></li>
                            <li><img src="images/logos/underscore.png" alt="Underscore" /></li>
                            <li><img src="images/logos/symfony.png" alt="symfony" /></li>
                            <li><img src="images/logos/mysql.png" alt="mysql" /></li>
                            <!--<li><img src="images/logos/doctrine.png" alt="doctrine" /></li>-->
                            <!--<li><img src="images/logos/grunt.png" alt="Grunt" /></li>-->


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row page-2">
        <div id="about" class="position"></div>
        <div class="col-sm-12 page-content">
            <div class="container">
                <div class="row">
                    <div class="page-left col-sm-6 text-right">
                        <h1>About me</h1>
                        <p>
                            Over the years I learned many programming languages - Basic, Pascal, Delphi, HTML, CSS, PHP, SQL, Javascript, Ada, C++, Assembler, Python, Java and much more.
                        </p>
                        <p>
                            For more than seven years I'm working as a Web Developer, using languages HTML, CSS, Javascript, PHP and SQL to my everyday work.
                        </p>
                        <p>
                            Throughout this period the trends in the front end changed several times. At the beginning I used for this purpose languages css 2, html 4, and the library prototype.js, then library jQuery, and currently I’m writing responsive websites using languages html 5, css 3, and frameworks such as Backbone.js, Bootstrap for css or Jasmine for testing.
                        </p>
                        <p>
                            For over five years I dealt with the backend in php and I wrote a few large sites using Zend, Symfony and Code Igniter framework such as webshop with music <a href="http://smashintracks.com">smashintracks.com</a>.
                        </p>
                        <a href="#offer" class="scroll-down pull-right">scroll down</a>
                    </div>
                    <div class="page-middle">
                        <img src="images/logo-light.png" alt="PK" class="logo" />
                    </div>
                    <div class="page-right col-sm-6">
                        <img src="images/piotr-kolodziejczyk.png" alt="Piotr Kołodziejczyk" />
                        <h3 class="pull-left">Frameworks that I’m using:</h3>
                        <div class="pull-left">
                            <ul>
                                <li>jQuery &amp; jQuery UI<br>
                                    <a href="#">jquery.com</a>
                                    | <a href="#">jqueryui.com</a>
                                </li>
                                <li>Bootstrap<br>
                                    <a href="#">getbootstrap.com</a>
                                </li>
                                <li>
                                    Backbone.js &amp; Marionette<br>
                                    <a href="#">backbonejs.org</a> |
                                    <a href="#">marionettejs.com</a>
                                </li>
                                <li>Jasmine<br>
                                    <a href="#">jasmine.github.io</a>
                                </li>
                                <li>Zend<br>
                                    <a href="#">framework.zend.com</a>
                                </li>
                                <li>Symfony<br>
                                    <a href="#">symfony.com</a>
                                </li>
                            </ul>
                            <a href="#offer" class="scroll-down pull-left">scroll down</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row page-3">
        <div id="offer" class="position"></div>
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="page-left col-sm-6 text-right">
                        <h1>Offer</h1>
                        <ul class="ul-top">
                            <li>
                                cutting templates and coding web pages according to W3C standards,
                                in HTML4, HTML5 and CSS2 i CSS3 languages
                            </li>
                            <li>
                                adapting websites for the most popular web browsers - Internet Explorer 6+, Firefox, Chrome, Safari, Opera,
                            </li>
                            <li>
                                writing websites and web applications in PHP and MySQL, using the most popular MVC frameworks - Zend, Symfony, Code Igniter,
                            </li>
                        </ul>
                        <ul class="ul-bottom">
                            <li>
                                creating websites with copyrighted content management system Enside CMS,
                            </li>
                            <li>
                                implementation of websites based on the most popular platforms - Drupal, Joomla, WordPress and others,
                            </li>
                            <li>
                                implementation of online stores based on osCommerce platform, and Presta,
                            </li>
                        </ul>
                        <a href="#portfolio" class="scroll-down pull-right">scroll down</a>
                    </div>
                    <div class="page-middle">
                        <img src="images/logo-dark.png" alt="PK" class="logo" />
                        <div class="line"></div>
                        <div class="line-2"></div>
                    </div>
                    <div class="page-right col-sm-6">
                        <ul class="ul-top">
                            <li>
                                search engine optimization and website performance optimization,
                            </li>
                            <li>
                                creating a mobile versions of the websites,
                            </li>
                            <li>
                                writing an applications for Facebook, Facebook and Twitter sites integration,
                            </li>
                        </ul>
                        <ul class="ul-bottom">
                            <li>
                                sites integration with the most popular payment systems - paypal.com, google checkout and others,
                            </li>
                            <li>
                                developing and modifying existing web pages,
                            </li>
                            <li>
                                conducting a websites safety audits,
                                websites code optimization.
                            </li>
                        </ul>
                        <a href="#portfolio" class="scroll-down pull-left">scroll down</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row page-4" >
        <div id="portfolio" class="position"></div>
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="page-left col-sm-6 text-right">
                        <h1>Portfolio</h1>
                        <p>
                            Selected projects I have done in cooperation with the designer. The work included both front end (html, css, javascript) and back end (php).
                        </p>
                    </div>
                    <div class="page-middle">
                        <img src="images/logo-light.png" alt="PK" class="logo" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 page-whole">
                        <nav>
                            <a href="#" class="arrow-left"></a>
                            <a href="#" class="arrow-right"></a>
                        </nav>
                        <ul class="thumbs" id="thumbs-1">
                            <!--<li><a title="SmashintTracks.com - <a href='#' class='see-details'>see more details</a>" href="portfolio/smashintracks.com" rel="portfolio"><img src="images/pages/smashintracks_m.jpg" alt="" /></a></li>-->
                            <li><a title="SmashinTracks.com" href="images/pages/smashintracks.jpg" rel="portfolio"><img src="images/pages/smashintracks_m.jpg" alt="" /></a></li>
                            <li><a title="BreakThru Studios" href="images/pages/breakthru.jpg" rel="portfolio"><img src="images/pages/breakthru_m.jpg" alt="" /></a></li>
                            <li><a title="Offre.pl" href="images/pages/offre.jpg" rel="portfolio"><img src="images/pages/offre_m.jpg" alt="" /></a></li>
                            <li><a title="Digitalica"  href="images/pages/digitalica.jpg" rel="portfolio"><img src="images/pages/digitalica_m.jpg" alt="" /></a></li>
                            <li><a title="Lotto.csa.pl" href="images/pages/lotto.jpg" rel="portfolio"><img src="images/pages/lotto_m.jpg" alt="" /></a></li>
                            <li><a title="Hip Hop Arena" href="images/pages/hiphoparena.jpg" rel="portfolio"><img src="images/pages/hiphoparena_m.jpg" alt="" /></a></li>
                            <li><a title="Gardenmania" href="images/pages/gardenmania.jpg" rel="portfolio"><img src="images/pages/gardenmania_m.jpg" alt="" /></a></li>
                            <li><a title="Skorpion Skates" href="images/pages/skorpionskates.jpg" rel="portfolio"><img src="images/pages/skorpionskates_m.jpg" alt="" /></a></li>
                        </ul>
                        <ul class="thumbs" id="thumbs-2">
                            <li><a title="Blackzone" href="images/pages/blackzone.jpg" rel="portfolio"><img src="images/pages/blackzone_m.jpg" alt="" /></a></li>
                            <li><a title="Outline Colour Festival" href="images/pages/outline.jpg" rel="portfolio"><img src="images/pages/outline_m.jpg" alt="" /></a></li>
                            <li><a title="Peter Pan - items for children" href="images/pages/piotruspan.jpg" rel="portfolio"><img src="images/pages/piotruspan_m.jpg" alt="" /></a></li>
                            <li><a title="European Accent" href="images/pages/accent.jpg" rel="portfolio"><img src="images/pages/accent_m.jpg" alt="" /></a></li>
                            <li><a title="Kornas Real Estates" href="images/pages/kornas.jpg" rel="portfolio"><img src="images/pages/kornas_m.jpg" alt="" /></a></li>
                            <li><a title="aeroMedia - Aerial Photography" href="images/pages/aeromedia.jpg" rel="portfolio"><img src="images/pages/aeromedia_m.jpg" alt="" /></a></li>
                            <li><a title="P.K.Studio" href="images/pages/pkstudio.jpg" rel="portfolio"><img src="images/pages/pkstudio_m.jpg" alt="" /></a></li>
                            <li><a title="PH REDA - Hotel Management, Architecture & Design" href="images/pages/phreda.jpg" rel="portfolio"><img src="images/pages/phreda_m.jpg" alt="" /></a></li>
                        </ul>
                        <ul class="thumbs" id="thumbs-3">
                            <li><a title="Foundation Connected by Passion" href="images/pages/polaczenipasja.jpg" rel="portfolio"><img src="images/pages/polaczenipasja_m.jpg" alt="" /></a></li>
                            <li><a title="Karina Design" href="images/pages/karina_design.jpg" rel="portfolio"><img src="images/pages/karina_design_m.jpg" alt="" /></a></li>
                            <li><a title="Solar collectors, vacuum collectors, and solar technologies" href="images/pages/sunti.jpg" rel="portfolio"><img src="images/pages/sunti_m.jpg" alt="" /></a></li>
                            <li><a title="Project Gdynia 1 - Hotel Business & Spa" href="images/pages/projektgdynia.jpg" rel="portfolio"><img src="images/pages/projektgdynia_m.jpg" alt="" /></a></li>
                            <li><a title="Hotel 4 Colors - Władysławowo" href="images/pages/hotel4kolory.jpg" rel="portfolio"><img src="images/pages/hotel4kolory_m.jpg" alt="" /></a></li>
                            <li><a title="Mariusz Gołębiowski - Private Website" href="images/pages/golebiowski.jpg" rel="portfolio"><img src="images/pages/golebiowski_m.jpg" alt="" /></a></li>
                            <li><a title="Tickmann - mowers and other" href="images/pages/tickmann.jpg" rel="portfolio"><img src="images/pages/tickmann_m.jpg" alt="" /></a></li>
                            <li><a title="Bloober Team" href="images/pages/blooberteam.jpg" rel="portfolio"><img src="images/pages/blooberteam_m.jpg" alt="" /></a></li>
                        </ul>
                        <div class="hidden" id="site-details">
                            <div title="SmashinTracks.com">
                                <p>SmashinTracks.com is the best place where you may buy and sell your own music, exclusive remixes and up to date unreleased tracks.</p>
                                <p>The project involved cutting and encoding of the supplied graphics, writing website with the CMS administration panel.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>Symfony Framework 1.4</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript&nbsp;</li>
                                    <li>Ajax</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                    <li>Propel</li>
                                </ul>
                                <a href="http://smashintracks.com/" target="_blank" class="site-url">http://smashintracks.com/</a>
                            </div>
                            <div title="BreakThru Studios">
                                <p>Website made for the film studio BreakThtu Studios.&nbsp;</p>
                                <p>The project involved cutting and encoding of the supplied graphics, writing website with panel to manage the gallery.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript (jQuery)</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                    <li>Parallax</li>
                                </ul>
                                <a href="http://breakthrustudios.pl/english.php" target="_blank" class="site-url">http://breakthrustudios.pl</a>
                            </div>
                            <div title="Offre.pl">
                                <p>Offre.pl is not just a portal, where you can post your ad to sell or rent, it is also place with a lot of interesting information about the automotive and real estate.</p>
                                <p>The project involved developing site with new sections and features, construction of the admin panel and catalog of companies.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>CodeIgniter</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript&nbsp;</li>
                                    <li>Ajax</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://offre.pl" target="_blank" class="site-url">http://offre.pl</a>
                            </div>
                            <div title="Digitalica">
                                <p>Digitalica is an internet magazine focused on topic we are fascinated about and interested in on every day so mainly music and graphic design.</p>
                                <p>The project involved cutting and encoding of the supplied graphics, writing website with the CMS administration panel.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript </li>
                                    <li>Ajax</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://digitalica.pl/" target="_blank" class="site-url">http://digitalica.pl/</a>
                            </div>
                            <div title="Lotto.csa.pl">
                                <p>Website with Lotto lottery results and statistics.</p>
                                <p>The project involved cutting and encoding of the supplied graphics, writing website with the CMS administration panel.</p>
                                <p>Functionality:</p>
                                <ul>
                                    <li>archive of all results lotto game and other games</li>
                                    <li>forum a sections for registered users</li>
                                    <li>virtual bets -  the possibility of betting games and earning points</li>
                                    <li>check if you won any game</li>
                                    <li>user profiles</li>
                                    <li>admin panel which allows adding the game results, user and forum administration</li>
                                </ul>
                                <p>Technologies:</p>
                                <ul>
                                    <li>Zend Framework</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript&nbsp;</li>
                                    <li>Ajax</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://lotto.csa.pl/" target="_blank" class="site-url">http://lotto.csa.pl/</a>
                            </div>
                            <div title="Hip Hop Arena">
                                <p>Website of a new international festival of hip-hop.</p>
                                <p>
                                    The project involved cutting and encoding of the supplied graphics, writing website with the CMS administration panel.
                                </p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript&nbsp;</li>
                                    <li>Ajax</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://hiphoparena.pl/" target="_blank" class="site-url">http://hiphoparena.pl/</a>
                            </div>
                            <div title="Gardenmania">
                                <p>Online shop with products for a wide range of the garden.<br><br>The project involved cutting and encoding of the supplied graphics, installing website on the osCommerce engine.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>osCommerce</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript&nbsp;</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://www.gardenmania.eu/" target="_blank" class="site-url">http://www.gardenmania.eu/</a>
                            </div>
                            <div title="Skorpion Skates">
                                <p>
                                    Company website and online store with Scorpion Skates rollers.
                                </p>
                                <p>
                                    The project involved cutting and encoding of the supplied graphics, writing website with the CMS administration panel, installing shop on the osCommerce engine and connect it with the site.
                                </p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>osCommerce</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://skorpionskates.pl/" target="_blank" class="site-url">http://skorpionskates.pl/</a>
                            </div>
                            <div title="Blackzone">
                                <p>Online shop with clothes from Blackzone company.<br><br>The project involved cutting and encoding of the supplied graphics, installing website on the osCommerce engine.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>osCommerce</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript&nbsp;</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://blackzone.com.pl/" target="_blank" class="site-url">http://blackzone.com.pl/</a>
                            </div>
                            <div title="Outline Colour Festival">
                                <p>Website of the International Festival of Graffiti Arts Outline Colour Festival.<br><br>The project involved cutting and encoding of the supplied graphics, writing website with the CMS administration panel.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript&nbsp;</li>
                                    <li>Ajax</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://www.outlinecolourfestival.pl/" target="_blank" class="site-url">http://www.outlinecolourfestival.pl/</a>
                            </div>
                            <div title="Peter Pan - items for children">
                                <p>Shop with articles for children Peter Pan.<br><br>The project involved cutting and encoding of the supplied graphics, installing website on the osCommerce engine.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>osCommerce</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript&nbsp;</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://www.piotruspan.com.pl/" target="_blank" class="site-url">http://www.piotruspan.com.pl/</a>
                            </div>
                            <div title="European Accent">
                                <p>Website made for the company European Accent.<br><br>The project involved cutting and encoding of the supplied graphics, writing website with the CMS administration panel.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript&nbsp;</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://www.european-accent.com/" target="_blank" class="site-url">http://www.european-accent.com/</a>
                            </div>
                            <div title="Kornas Real Estates">
                                <p>Website made for the company Kornas PBI.<br><br>The project involved cutting and encoding of the supplied graphics, writing website with the CMS administration panel.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript&nbsp;</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://kornas.pl/" target="_blank" class="site-url">http://kornas.pl/</a>
                            </div>
                            <div title="aeroMedia - Aerial Photography">
                                <p>Website made for the company aeroMedia.<br><br>The project involved cutting and encoding of the supplied graphics, writing website with the CMS administration panel.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript&nbsp;</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://aeromedia.pl/" target="_blank" class="site-url">http://aeromedia.pl/</a>
                            </div>
                            <div title="P.K.Studio">
                                <p>Website made for the company P.K.Studio.<br><br>The project involved cutting and encoding of the supplied graphics, writing website with the CMS administration panel.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://www.pkstudio.com.pl/" target="_blank" class="site-url">http://www.pkstudio.com.pl/</a>
                            </div>
                            <div title="PH REDA - Hotel Management, Architecture & Design">
                                <p>Website made for the company aeroMedia.<br><br>The project involved cutting and encoding of the supplied graphics, writing website with the CMS administration panel.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://phreda.pl/" target="_blank" class="site-url">http://phreda.pl/</a>
                            </div>
                            <div title="Foundation Connected by Passion">
                                <p>Website made for the foundation Connected by Passion.<br><br>The project involved cutting and encoding of the supplied graphics, writing website with the CMS administration panel.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript&nbsp;</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://polaczenipasja.pl/" target="_blank" class="site-url">http://polaczenipasja.pl/</a>
                            </div>
                            <div title="Karina Design">
                                <p>Website made for the company  Karina Design.<br><br>The project involved cutting and encoding of the supplied graphics, installing a slide show, preparing a second language, installing google maps, code optimization for search engines.</p>
                                <p>And: installation website on the server, hook a domain, compatibility with most popular browsers (Chrome, Opera, Firefox, Internet Explorer 7, Internet Explorer 8, Safari), adding website to search engines.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>jQuery</li>
                                </ul>
                                <a href="http://karina-design.pl/" target="_blank" class="site-url">http://karina-design.pl/</a>
                            </div>
                            <div title="Solar collectors, vacuum collectors, and solar technologies">
                                <p>Website made for the company Sunti - solar technology.<br><br>The project included preparation of a new graphical skins for an existing site based on Joomla CMS (cutting and encoding of the supplied graphics, installation).</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>Joomla</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript&nbsp;</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://sunti.pl/" target="_blank" class="site-url">http://sunti.pl/</a>
                            </div>
                            <div title="Project Gdynia 1 - Hotel Business & Spa">
                                <p>Website made ??for the Hotel Business &amp; Spa.<br><br>The project involved cutting and encoding of the supplied graphics, writing website with the CMS administration panel.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript&nbsp;</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://www.polankaredlowska.pl/" target="_blank" class="site-url">http://www.polankaredlowska.pl/</a>
                            </div>
                            <div title="Hotel 4 Colors - Władysławowo">
                                <p>Website made for the Hotel 4 Colors - Władysławowo.<br><br>The project involved cutting and encoding of the supplied graphics, writing website with the CMS administration panel.</p>
                                <p>Technologies::</p>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript&nbsp;</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://hotel4kolory.pl/" target="_blank" class="site-url">http://hotel4kolory.pl/</a>
                            </div>
                            <div title="Mariusz Gołębiowski - Private Website">
                                <p>Website made for Mariusz Golebiowski<br><br>The project included preparation of a new graphical skins for an existing site based on Joomla CMS (cutting and encoding of the supplied graphics, installation).</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>Joomla</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript&nbsp;</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                                <a href="http://golebiowski.uni.lodz.pl/" target="_blank" class="site-url">http://golebiowski.uni.lodz.pl/</a>
                            </div>
                            <div title="Tickmann - mowers and other">
                                <p>The project involved cutting and coding supplied graphics and installing the website.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>PHP&nbsp;</li>
                                </ul>
                                <a href="http://www.tickmann.com/" target="_blank" class="site-url">http://www.tickmann.com/</a>
                            </div>
                            <div title="Bloober Team">
                                <p>Website made for the Bloober Team company<br><br>The project involved cutting and coding supplied graphics and installing the website.</p>
                                <p>Technologies:</p>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>PHP&nbsp;</li>
                                </ul>
                                <a href="http://www.blooberteam.com/" target="_blank" class="site-url">http://www.blooberteam.com/</a>
                            </div>
                        </div>
                        <nav>
                            <ul class="slides">
                                <li><a class="active" href="#" id="slide-1"></a></li>
                                <li><a href="#" id="slide-2"></a></li>
                                <li><a href="#" id="slide-3"></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="page-left col-sm-6">
                        <a href="#blog" class="scroll-down pull-right">scroll down</a>
                    </div>
                    <div class="page-right col-sm-6">
                        <a href="#blog" class="scroll-down pull-left">scroll down</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row page-5 ">
        <div id="blog" class="position"></div>
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="page-left col-sm-6 text-right">
                        <h1>Blog</h1>

                        <h4>01 April 2015</h4>
                        <h3>Testing front end with jasmine framework</h3>
                        <p>
                            Coming soon...
                        </p>
                        <br />
                        <a href="#contact" class="scroll-down pull-right">scroll down</a>
                    </div>
                    <div class="page-middle">
                        <img src="images/logo-dark.png" alt="PK" class="logo" />
                    </div>
                    <div class="page-right col-sm-6">
                        <h2>Latest Articles</h2>
                        <ul>
                            <li>
                                <h4>01 April 2015</h4>
                                <h3><a href="#">Testing front end with jasmine framework</a></h3>
                            </li>
                            <!--<li>-->
                                <!--<h4>17 czerwca 2014, 22:00</h4>-->
                                <!--<h3><a href="#">W wolnym czasie dokształcam się</a></h3>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<h4>17 czerwca 2014, 22:00</h4>-->
                                <!--<h3><a href="#">Korzystam z nowych narzędzi</a></h3>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<h4>17 czerwca 2014, 22:00</h4>-->
                                <!--<h3><a href="#">Od ponad pięciu lat pracuję jako webdeveloper</a></h3>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<h4>17 czerwca 2014, 22:00</h4>-->
                                <!--<h3><a href="#">W wolnym czasie dokształcam się</a></h3>-->
                            <!--</li>-->
                        </ul>

                        <a href="#contact" class="scroll-down pull-left">scroll down</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row page-6">
        <div id="contact" class="position"></div>
        <div class="col-sm-12 page-content">
            <div class="container">
                <div class="row">
                    <div class="page-left col-sm-6 text-right">
                        <h1>Contact</h1>
                        <p>
                            In order to contact with me please fill out the form below:
                        </p>
                        <form>
                            <div class="form-group">
                                <label for="field-title">Title of message</label>
                                <input type="text" class="form-control" name="title" id="field-title">
                            </div>

                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="field-message">Message</label>
                                    <textarea class="form-control" rows="6" id="field-message" name="message"></textarea>
                                </div>
                                <div class="col-sm-6">
                                    <label for="field-email">Email address</label>
                                    <input type="email" class="form-control" name="email" id="field-email">
                                    <label for="field-name">Name &amp; Surname</label>
                                    <input type="email" class="form-control" name="name" id="field-name">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default" id="form-submit">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="page-middle">
                        <img src="images/logo-light.png" alt="PK" class="logo" />
                    </div>
                    <div class="page-right col-sm-6">
                        <h3>Piotr Kołodziejczyk</h3>
                        <h4>front end developer</h4>
                        <dl>
                            <dt>tel.</dt>	<dd>+44 (0)743 8810 321</dd>
                            <dt>skype</dt>	<dd><a href="skype://modul007">modul007</a></dd>
                            <dt>email:</dt>		<dd><a href="mailto:contact@frontend.london">contact@frontend.london</a> </dd>
                        </dl>
                        <ul>
                            <li><a href="mailto:contact@frontend.london"><img src="images/icons/email.png" alt="Email"></a></li>
                            <li><a href="https://www.facebook.com/kolodziejczyk.piotr" target="_blank"><img src="images/icons/facebook.png" alt="Facebook"></a></li>
                            <li><a href="http://lnkd.in/XnUu2m" target="_blank"><img src="images/icons/linkedin.png" alt="Linkedin"></a></li>
                            <li><a href="cv.pdf"><img src="images/icons/cv.png" alt="CV"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row page-bottom">
        <nav class="bottom-nav">
            <span class="bottom-logo"></span>
            <h1>Frontend.London</h1>
            <h3>Created by Piotr Kołodziejczyk. Designed by <a href="http://designerlondon.net/" target="_blank">Marcin Matuszewski</a> </h3>
            <h3>Coded using jQuery &amp; Bootstrap. <a href="https://github.com/frontend-london/frontend.london" target="_blank">Fork on Github</a></h3>
            <a href="#welcome" class="scroll-up">scroll up</a>
        </nav>
    </div>
</div>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/fancybox/source/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="bower_components/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/fancybox/source/jquery.fancybox.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="bower_components/fancybox/source/helpers/jquery.fancybox-thumbs.css" media="screen" />
    <script type="text/javascript" src="dist/js/frontend.london.min.js"></script>
    <script type="text/javascript" src="dist/js/portfolio.js"></script>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Armata" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Russo+One" />
</body>
</html>